CPN_Tools_Code/lib/
CPN_Tools_Code/org.cpntools.accesscpn.cosimulation/
CPN_Tools_Code/org.cpntools.accesscpn.engine/
CPN_Tools_Code/org.cpntools.accesscpn.engine.highlevel/
CPN_Tools_Code/org.cpntools.accesscpn.engine.protocol/
CPN_Tools_Code/org.cpntools.accesscpn.engine.proxy/
CPN_Tools_Code/org.cpntools.accesscpn.engine-feature/
CPN_Tools_Code/org.cpntools.accesscpn.model/
CPN_Tools_Code/org.cpntools.accesscpn.model.importer/
CPN_Tools_Code/org.cpntools.accesscpn.model.exporter/
CPN_Tools_Code/org.cpntools.accesscpn.model.tests/
CPN_Tools_Code/org.cpntools.simulator.extensions/
CPN_Tools_Code/org.cpntools.simulator.extensions.debugging/
CPN_Tools_Code/org.cpntools.simulator.extensions.declare/
CPN_Tools_Code/org.cpntools.simulator.extensions.export/
CPN_Tools_Code/org.cpntools.simulator.extensions.graphics/
CPN_Tools_Code/org.cpntools.simulator.extensions.launcher/
CPN_Tools_Code/org.cpntools.simulator.extensions.ppcpnets/
CPN_Tools_Code/org.cpntools.simulator.extensions.ranges/
CPN_Tools_Code/org.cpntools.simulator.extensions.dcr/
CPN_Tools_Code/siminterface/
CPN_Tools_Code/simulator/
CPN_Tools_Code/extension.dbnets/bin
cpn_models/*.txt
CPN_Tools_Code/.recommenders/*
CPN_Tools_Code/.metadata/*
.metadata/*
.recommenders/*
!cpn_models/transition_query.txt
!cpn_models/view_places.txt
official_documents/
resources/
CPN_Tools_Code/RemoteSystemsTempFiles/
presentation/source/
extension_videos/
